/* Global */
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter"), url(../public/assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter"), url(../public/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: local("Inter"), url(../public/assets/fonts/static/Inter-ExtraBold.ttf);
}

html {
  font-size: 15px;
  font-family: "Inter-Regular";
}

.body {
  display: flex;
  flex-direction: column;
  margin: 5rem;
}

/* Header  */
.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 5rem;
}

.header ul {
  display: flex;
}

.header li {
  margin-left: 4rem;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

/* MainCard */
.mainCard {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.mainCard-text {
  display: flex;
}

.mainCard-text h1 {
  font-size: 5rem;
  font-family: 'Inter-ExtraBold';
  color: var(--dark-blue);
}

.mainCard-text p {
  color: var(--dark-grayish-blue);
}

.lead {
  display: flex;
  justify-content: space-between;
}

/* Sidebar */
.sidebar {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.sidebar h2 {
  color: var(--soft-orange);
}