@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../public/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
  font-size: 15px;
  font-family: "Inter";
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  font-weight: 500;
}

.header ul {
  display: flex;
}

.header li {
  margin-left: 4rem;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}